/*Global styles top of page*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

body {
    font-family: sans-serif;
    margin: 2rem;
}

img{
    max-width: 100%;
}

/*Check HTML Color Codes here: "https://htmlcolorcodes.com/"*/
.page-header {
    background-color: rgb(26	60	115	);
    color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.main p{
    margin-bottom: 1rem;
}

.animals{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.dogs {
    width: 30%;
    display: inline-block;
}

.dogs-descript{
    background-color: rgb(191 230 242);
    border-radius: 5px;
    margin-bottom: 1rem;
    display: inline-block;
}

.footerLinks{  
    height: 300px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.linkDonate{
    background-image: linear-gradient(rgba(167, 168, 236, .5),rgba(30, 9, 110, 0.4)), url("starter_files/images/donate.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
    height: 300px;
}
.linkVolunteer{
    background-image: linear-gradient(rgba(167, 168, 236, .5),rgba(30, 9, 110, 0.4)), url("starter_files/images/volunteer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
    height: 300px;
}
.linkLocation{
    background-image: linear-gradient(rgba(167, 168, 236, .5),rgba(30, 9, 110, 0.4)), url("starter_files/images/location.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
    height: 300px;
}

 .footer{
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; 
    margin-top: 4px;
}

.text{
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
}

